<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <img src="./img/logo.svg" alt="Меблерія" class="header-logo-image" />
      </a>
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-link" href="#furniture">Наші меблі</a>
        </li>
        <li>
          <a class="header-nav-link" href="#">Про нас</a>
        </li>
        <li>
          <a class="header-nav-link" href="#">Часті запитання</a>
        </li>
        <li>
          <a class="header-nav-link" href="#">Відгуки</a>
        </li>
        <li>
          <a class="nav-btn-dark" href="#">До покупок</a>
        </li>
      </ul>
      <button class="burger-menu" aria-label="Меню" data-menu-open>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>
    </nav>
  </div>
</header>

<!-- Mobile Menu -->
<div class="menu-overlay" data-menu-overlay>
  <div class="container mobile-menu-wrapper">
    <div class="mobile-menu" data-menu>
      <ul class="mobile-nav-list">
        <li>
          <a class="mobile-nav-link" href="#furniture" data-menu-link
            >Наші меблі</a
          >
        </li>
        <li>
          <a class="mobile-nav-link" href="#" data-menu-link>Про нас</a>
        </li>
        <li>
          <a class="mobile-nav-link" href="#" data-menu-link>Часті запитання</a>
        </li>
        <li>
          <a class="mobile-nav-link" href="#" data-menu-link>Відгуки</a>
        </li>
      </ul>
      <a class="mobile-btn-dark" href="#" data-menu-link>До покупок</a>
    </div>
  </div>
</div>
