.hero {
  padding: 136px 0;
  min-width: 320px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/hero/hero-mobile.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn-dark {
  width: 100%;
  padding: 10px 0;
}

/* Retina mobile */
@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/hero/hero-mobile@2x.webp);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero {
    padding: 80px 0;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../img/hero/hero-tablet.webp');
  }

  .hero-content {
    max-width: 560px;
  }

  .hero-btn-dark {
    width: 209px;
    padding: 10px 24px;
  }
}

/* Retina tablet */
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../img/hero/hero-tablet@2x.webp');
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .hero {
    padding: 92px 0;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../img/hero/hero-desktop.webp');
  }

  .hero-title {
    font-size: 56px;
  }
}

/* Retina desktop */
@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../img/hero/hero-desktop@2x.webp');
  }
}
